/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
private_key.pem
public_key.pem
jwt_keys/*
!jwt_keys/test_private_01.pem
!jwt_keys/test_private_001.pem
!jwt_keys/test_public_01.pem
_ide_helper.php