includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'

    paths:
        - app/

    # Level 9 is the highest level
    level: 8

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false